{
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "semi": false,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 120,
  "jsxSingleQuote": false
}
