{
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "lf",
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 120,
  "jsxSingleQuote": false,
  "proseWrap": "always",
}
