.dark-pagination {
  &.MuiPagination-root {
    button,
    div {
      color: white !important;
    }
    button:hover {
      background-color: rgba(80, 80, 80, 0.1) !important;
    }
    .Mui-selected:hover {
      background-color: rgb(245 158 11) !important;
    }
  }
}

.MuiPagination-root {
  .Mui-selected {
    background-color: rgb(245 158 11) !important;
  }
}
