@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .book {
    transform: perspective(300px) rotateY(-3deg);
    -moz-perspective: 300px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(300) rotateY(-3deg);
    outline: 1px solid transparent;
    box-shadow: 5px 5px 20px #333;
  }
  .book::before {
    @apply content-[''] absolute w-full left-[7.4%] bg-black dark:bg-neutral-700 top-[2%] h-[96%]
  }
  .book::after {
    background-color: #efefef;
    -webkit-transform: perspective(300) rotateY(20deg);
    transform: perspective(300px) rotateY(20deg);
    -moz-transform: rotateY(20deg);
    box-shadow: inset 0 0 5px #aaa;
    @apply content-[''] absolute w-[5%] left-[100%] top-[2%] h-[96%]
  }

  .flash::before {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    @apply absolute top-0 left-[-90%] z-10 block content-[''] w-1/2 h-full
  }

  .flash:hover::before {
    @apply animate-shine
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-decoration {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0002);
  overflow: hidden;
}

/* custom scrollbar chapter popup */
.custom_scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1] rounded-[5px] dark:bg-[#919191]
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-[#aaa] rounded-[5px] dark:bg-[#484848]
    hover:bg-[#999] dark:hover:bg-[#383838]
    /* Handle on hover */

  }
}
